@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

* {
    font-family: 'Poppins', cursive;
}

body {
    color: azure;
    width: 100%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.botones {
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a {
    background-color: lightpink;
    padding: 9px;
    border-radius: 80px;
    display: inline-block;
    text-decoration: none;
    color: #111;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.botones a:hover {
    background-color: #eebbbb;
    transform: scale(1.05);
}

.botones a span {
    animation: glow 2.5s ease-in-out infinite;
    display: inline-block;
}

.greetings {
    font-size: 8rem;
    font-weight: 900;
}

.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
    display: inline-block;
}

@keyframes glow {
    0%, 100% {
        color: #fff;
        text-shadow: 0 0 12px #eebbbb, 0 0 50px #eebbbb, 0 0 100px #eebbbb;
    }
    50% {
        color: #111;
        text-shadow: none;
    }
}

.greetings > span {
    animation-delay: 0s; /* Puedes ajustar esto si necesitas un efecto de ola */
}

.description {
    font-size: 1.2rem;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.description span {
    width: 100%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .greetings {
        font-size: 6rem;
        /* Cambia el tamaño de la fuente en pantallas medianas */
    }

    .botones a {
        padding: 8px; /* Reduce el padding en pantallas medianas */
        font-size: 0.9rem; /* Ajusta el tamaño de fuente */
    }

    .description {
        font-size: 1.5rem; /* Ajusta el tamaño en pantallas más pequeñas */
    }
}

@media screen and (max-width: 576px) {
    .greetings {
        font-size: 4rem; /* Cambia a un tamaño más pequeño en pantallas pequeñas */
    }

    .description {
        font-size: 1.2rem; /* Reduce aún más el tamaño de la fuente */
    }

    .botones a {
        font-size: 0.8rem; /* Ajusta el tamaño de fuente para botones */
        padding: 6px; /* Reduce padding para pantallas pequeñas */
    }
}
